

body {
	background:url(../img/bg-login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jarak {
	padding: 50px 50px 50px 50px;
}
